.checkbox {

    font-family: "Roboto", sans-serif;
    line-height: 150%;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

    input {
        display: none;
    }

    .checkbox-icon {
        min-width: 24px;

        svg {
            color: var(--icons-disabled);
            width: 24px;
            height: 24px;
        }
    }

    .checkbox-label {
        flex: 1;
        color: var(--text-disabled);
    }

    &.checked {
        .checkbox-label {
            color: var(--text-body);
        }

        .checkbox-icon svg {
            color: var(--icons-blue-dark);
        }
    }
}
