.title {
	font-size: 1.5rem;
	font-weight: 400;
	color: var(--text-body);
	padding: 0 1rem;
	text-align: inherit;
	margin: 1rem;
  
	@media (max-width: 768px) {
	  font-size: 1.2rem;
	  margin: 1rem 0;
	}
  }