.react-flow__handle {
  visibility: hidden;
}

.addIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;

  svg {
    color: #9687f4;
    width: 24px;
    height: 24px;
  }
}

.addIcon:hover {
  border-radius: 50%;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.2);
}

.react-flow__node {
  border-radius: 5px;
}

.react-flow__node.dragging {
  .node__content {
    transform: scale(1.1);
  }
}

.highlight {
  box-shadow: 0 0 10px #00000050;
}

.modalText {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.44999998807907104px;
  text-align: center;
}

.tremble-animate {
  background-color: rgba(255, 0, 0, 0.2); // for debug
  animation: tremble 0.3s ease-in-out infinite;
}

@keyframes tremble {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
    transform: translatey(2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
    transform: translateY(2px);
  }
  100% {
    transform: translateX(0);
  }
}
