.massConsensus {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: inherit;

	&__wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: var(--wrapper-max-width);
		padding: var(--padding);
	}

	h1 {
		font-size: 1.5rem;
		margin-bottom: 0.5rem;
		color: var(--text-title);
		text-align: inherit;
	}

	h3 {
		color: #666;
		font-size: 1.3rem;
		font-weight: 500;
		line-height: 1.5;
	}

	p {
		font-size: 1rem;
		color: var(--text-body);
		text-align: inherit;
	}
}
