.suggestionComment {
	display: block;
	border: 1px solid #ccc;
	border-radius: 0px 0px 5px 5px;

	@media screen and (max-width: 768px) {
		margin: 8px;
	}

	.commentHeader {
		display: flex;
		gap: 1rem;
		align-items: center;
		cursor: pointer;
		position: relative;
		padding: 0.5rem;
		justify-content: space-between;
		background-color: rgb(214, 213, 213);
		width: 100%;

		&:hover {
			background-color: rgba(0, 0, 0, 0.05);
		}

		.commentCreator {
			display: flex;
			align-items: center;
			gap: 1rem;

			@media screen and (max-width: 768px) {
				display: flex;
				flex-direction: column;
			}
		}
	}

	.accordionIcon {
		margin-left: 0.5rem;
		font-size: 0.8rem;
		transition: transform 0.2s ease;

		&.open {
			transform: rotate(180deg);
		}
	}

	.subComments {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		padding: 1rem;
		animation: fadeIn 0.3s ease;
	}

	.replyButton {
		background-color: rgb(149, 103, 223);
		color: white;
		padding: 0.2rem 0.5rem;
		border-radius: 2rem;
		transform: translateX(-100%);
		margin-bottom: 2rem;
	}

	.commentInput {
		width: -moz-available;
		width: -webkit-fill-available;

		margin: 1rem;
		box-sizing: border-box;
		resize: none;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		position: relative;
		margin-top: 3rem;

		textarea {
			width: 100%;
			z-index: 200;
			min-height: 3rem;
			position: absolute;
			bottom: 0;
			padding: 0.3rem 0.5rem 0.3rem 3rem;
		}

		@media screen and (max-width: 768px) {
			left: 0;
			position: fixed;
			bottom: 0;
			border: 1px solid #ccc;
			z-index: 100;
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}
