.process-setting {
	display: flex;
	flex-direction: column;
	padding: 10px;

	.process-item {
		padding: 10px;
		border: 1px solid #ccc;
		margin-bottom: 5px;
		background-color: #f9f9f9;
		cursor: grab;
		display: flex;
		justify-content: space-between;

		svg {
			color: var(--reject)
		}

		&:hover {
			background-color: #e9e9e9;
		}

		&:active {
			cursor: grabbing;
		}
	}
}