.settings {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    overflow-y: auto;
    max-height: 100vh;

    h1 {
        margin-bottom: 2rem;
    }

    section {
        margin-bottom: 3rem;

        h2 {
            margin-bottom: 1rem;
        }
    }
}