.SubQuestionNodeContainer {
	display: flex;
	flex-direction: row-reverse;
	.node {
		margin: 1rem;
		color: var(--text-secondary);
		width: 80%;
		height: fit-content;
		border-left: 5px var(--map-question) solid;
		background-color: var(--surface-background);
		border-radius: 10px;
		padding: 0.5rem 1rem;
		display: flex;
		margin-left: auto;
		flex: 1;
		justify-content: space-between;
		transition: all 0.3s;
		h3 {
			font-size: 1rem;
		}
		button {
			background-color: var(--icons-white);
			transform: scaleX(-1);
			border-radius: 50%;
			width: 1.5rem;
			height: 1.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: all 0.3s;

			svg {
				scale: 2;
			}
		}
	}
	.green {
		border-left: 5px var(--icons-green) solid;
		transition: all 0.3s;
	}
	.group {
		border-left: 5px var(--header-group) solid;
		transition: all 0.3s;
	}
}
.borderRight {
	width: 1rem;
	height: auto;
	border-right: 1px solid black;
	transform: translateY(50%);

	margin-right: 1rem;
}
.borderRightEmpty {
	width: 1rem;
	height: auto;

	transform: translateY(50%);

	margin-right: 1rem;
}
.borderTop {
	width: 100%;
	height: auto;
	border-top: 1px solid black;

	margin-left: auto;
}
.animate {
	animation: move 0.3s forwards;
}
@keyframes move {
	0% {
		transform: scaleX(-1) translateX(0);
	}
	100% {
		transform: scaleX(-1) translateX(-15px);
	}
}
