/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./app/doc/[statementId]/loading.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.loading_container__06cI5 {
  max-width: 900px;
  margin: 0 auto;
  padding: var(--spacing-lg);
}

.loading_header__5Rk2C {
  margin-bottom: var(--spacing-xl);
}

.loading_titleSkeleton__Tsxgj {
  height: 2.5rem;
  width: 70%;
  margin-bottom: var(--spacing-md);
}

.loading_subtitleSkeleton__opg6z {
  height: 1.25rem;
  width: 40%;
}

.loading_content___6qHA {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.loading_paragraphSkeleton__G7xpC {
  background: var(--card-default);
  border-radius: var(--radius-md);
  padding: var(--spacing-lg);
}

.loading_textSkeleton__Xm8F5 {
  height: 1rem;
  margin-bottom: var(--spacing-sm);
}
.loading_textSkeleton__Xm8F5:last-of-type {
  margin-bottom: var(--spacing-md);
}

.loading_actionsSkeleton__prJqd {
  display: flex;
  gap: var(--spacing-md);
  margin-top: var(--spacing-md);
}

.loading_buttonSkeleton__4u3Ut {
  height: 2.5rem;
  width: 100px;
  border-radius: var(--radius-sm);
}
