/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./app/doc/[statementId]/not-found.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.not-found_container__05_y5 {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-lg);
}

.not-found_content__hkmxb {
  text-align: center;
}

.not-found_title__JZHCG {
  font-size: 6rem;
  font-weight: 700;
  color: var(--text-secondary);
  margin-bottom: var(--spacing-sm);
}

.not-found_subtitle__vRSgc {
  font-size: var(--h2-font-size);
  color: var(--text-primary);
  margin-bottom: var(--spacing-md);
}

.not-found_description__BKIqL {
  color: var(--text-secondary);
  margin-bottom: var(--spacing-xl);
}

.not-found_link__K1hhr {
  display: inline-block;
  padding: var(--spacing-sm) var(--spacing-lg);
  background: var(--btn-primary);
  color: white;
  text-decoration: none;
  border-radius: var(--radius-md);
  font-weight: 500;
  transition: background 0.2s ease;
}
.not-found_link__K1hhr:hover {
  background: var(--btn-primary-hover);
}
