.stage-page {
	margin-top: 1rem;

	h2 {
		margin-bottom: 0.5rem;
	}
}

.stage {

	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: var(--wrapper);
	width: 100%;
	height: 100%;
	margin: auto;
	flex: 1;
	box-sizing: border-box;
}

.bottomNav {
	position: fixed;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	max-width: var(--wrapper);
	width: 90vw;
	min-height: 6rem;
	box-sizing: border-box;

	@media screen and (max-width: 600px) {
		width: 100%;
		max-width: 100%;
	}
}

.summarizeWrapper {
	margin: 1rem 0;
}