.background {
	background-color: var(--bg--overlay);
	width: 40vw;
	padding-left: 5vw;
	padding-right: 5vw;
	padding-top: 2vw;
	padding-bottom: 3vw;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	min-height: 700px;
	@media (max-width: 768px) {
		width: 100vw;
		height: 100vh;
		.closeBtn {
			display: none;
		}
	}
}

.language {
	border-radius: 3rem;
	color: var(--text-blue);
	height: var(--height-of-interaction-component);
	text-align: center;
	font-size: 1rem;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.language option:nth-child(even) {
	background-color: white;
}

.languageOption {
	display: flex;
	align-items: center;
	border-top: 1px solid #e0e0e0;
	padding: 1em;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.2s ease;
	width: 100%;
	gap: 1px;
	font-size: 1.2em;
}

.languageOption:hover {
	background-color: var(--btn-secondary-hover);
}

.languageOption.selected {
	background-color: #ffffff;
	color: var(--text-disabled);
}

.flag {
	font-size: 1.2em;
	margin-right: 6px;
}
.closeBtn {
	margin-bottom: 0.4em;
	color: var(--text-blue);
	font-size: 1.4em;
	text-align: right;
}
.langBtn {
	border-bottom: 1px black solid;
	position: relative;
	margin: 0 auto;
	top: 30px;
}
.title {
	color: var(--text-title);
	font-size: 1.5em;
	padding-bottom: 20px;
	text-align: start;
	cursor: pointer;
	margin-bottom: 1em;
}
.wrapper {
	display: flex;
	margin: 0 auto;
}
