.background {
	background-color: inherit;
	width: 40em;
	padding: 2rem;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	min-height: 700px;
	min-width: 300px;
	align-self: center;
	@media (max-width: 768px) {
		width: 100vw;
		height: 100vh;
		.XBtn {
			display: none;
		}
	}
}

.language {
	border-radius: 3rem;
	color: var(--text-blue);
	height: var(--height-of-interaction-component);
	text-align: center;
	font-size: 1rem;
	margin: 0 auto;
}

.languageOption {
	display: flex;
	border-top: 1px solid #e0e0e0;
	padding: 1em;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.2s ease;
	width: 100%;
	font-size: 1.2em;
	gap: 1px;
	order: 0;
}
.language option:nth-child(even) {
	background-color: white;
}
.optionsWrapper {
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: 0 auto;
}

.languageOption:hover {
	background-color: var(--btn-secondary-hover);
}

.languageOption.selected {
	background-color: #fff;
	color: var(--text-disabled);
	order: -1;
}

.flag {
	font-size: 1.2em;
	margin-right: 6px;
}

.closeBtn {
	border-bottom: 1px solid black;
	margin: 0 auto;
	top: 20px;
	padding: 1em;
}

.XBtn {
	color: var(--text-blue);
	font-size: 1.4em;
	text-align: right;
	margin: 1em;
}

.title {
	color: var(--text-title);
	font-size: 1.5em;
	text-align: start;
	cursor: pointer;
	margin: 1em 20% 1em 20%;
	padding-bottom: 1em;
}

.wrapper {
	display: flex;
	margin: 0 auto;
}
