.box{
    padding: 1rem;
}
.input{
    font-size: 2rem;
    padding: 1rem;
    background-color: var(--input-active);
    color: var(--text-body);
    border: 1px solid var(--border-light);
    margin-bottom: 2rem;

    //on mobile
    @media (max-width: 600px) {
        font-size: 1.5rem;
        max-width: 98vw;
    }
}