.menu {
  position: relative;
  margin: auto;

  .menu-header {
    display: flex;
    flex-flow: column;
    height: 123px;
    width: 352px;
    padding: 1rem;
    background: var(--btn-primary-default);
    color: white;
    font-family: "Roboto", sans-serif;

    .menu-title {
      display: flex;
      padding: 1rem 0;
      font-weight: 500;
      font-size: 1.5rem;
    }

    .menu-user {
      display: flex;
      justify-content: start;
      gap: 1.5rem;
      letter-spacing: 0.2px;

      .menu-avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid white;
        background-color: #ccc; /* Fallback color */
      }
    }
  }

  .menu-content {
    position: absolute;
    display: flex;
    min-width: 200px;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 9px #00000026;
    z-index: 5;
    overflow: hidden;
    max-height: 0;
    transform: translateY(0);
    transform-origin: top;

    transition:
      max-height 0.3s ease-out,
      opacity 0.3s ease-out,
      transform 0.3s ease-out;

    &.open {
      max-height: 500px;
      transform: translateY(1);
      transition:
        max-height 0.9s ease-out,
        opacity 0.9s ease-out;
    }

    &.ltr {
      left: 0px;

      &--card-menu {
        right: 10px;
      }
      @media (max-width: 900px) {
        transform: translateX(-60%);
      }
    }

    &.rtl {
      transform: translateX(10px);

      &--card-menu {
        left: 10px;
      }
      @media (max-width: 900px) {
        transform: translateX(55%);
      }
    }
  }

  @media (max-width: 1080px) {
    .menu-content {
      transform: translateX(10px);
    }
  }

  .menu-footer {
    display: flex;
    height: 83px;
    background-color: var(--btn-primary-default);
    cursor: pointer;
    pointer-events: auto;
    z-index: 1000;

    .menu-option {
      border-bottom: none;
    }
  }
}

.invisibleBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  z-index: 4;
  background-color: transparent;
}
