.menu {
  position: relative;
  margin: auto;

  .menu-header {
    width: 100%;
    flex-flow: column;
    position: relative;
    color: white;
    font-family: "Roboto", sans-serif;
    z-index: 20;

    .menu-title {
      display: flex;
      justify-content: left;
      padding: 1.2rem;
      font-size: headline/medium;
    }

    .menu-user {
      display: flex;
      padding: 0.5rem 1.2rem;
      gap: 1.5rem;
      letter-spacing: 0.5px;

      .menu-avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid white;
        background-color: #ccc;
      }
    }
  }

  .menu-content {
    position: absolute;
    display: flex;
    border-radius: 15px;
    width: 350px;
    min-width: 200px;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 3px 9px #00000026;
    z-index: 5;
    overflow: hidden;
    max-height: 0;
    transform: translateY(0);
    transform-origin: top;

    transition:
      max-height 0.3s ease-out,
      opacity 0.3s ease-out,
      transform 0.3s ease-out;

    &.open {
      max-height: 800px;
      transform: translateY(1);
      transition:
        max-height 0.9s ease-out,
        opacity 0.9s ease-out;
    }

    &.ltr {
      left: -10px;

      &--card-menu {
        right: 10px;
      }
      @media (max-width: 1360px) {
        transform: translateX(-85%);
      }
    }

    &.rtl {
      transform: translateX(10px);

      &--card-menu {
        left: 10px;
      }
      @media (max-width: 1360px) {
        transform: translateX(90%);
      }
    }
  }

  @media (max-width: 1080px) {
    .menu-content {
      transform: translateX(20px);
    }
  }

  .menu-footer {
    display: flex;
    height: 83px;
    cursor: pointer;
    pointer-events: auto;
    z-index: 1000;

    .menu-option {
      border-bottom: none;
      background-color: none;
      color: white;
    }
  }
}

.invisibleBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  z-index: 4;
  background-color: transparent;
}
