.introduction {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	.wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: var(--max-web-weight-of-wrapper);
		padding: var(--padding);
		margin-bottom: 1rem;
		// gap: 2rem;

		h1 {
			font-size: 1.5rem;
			margin-bottom: 0.5rem;
			color: var(--text-title);
			text-align: inherit;
		}

		p {
			font-size: 1rem;
			color: var(--text-body);
			text-align: inherit;
		}
		
		.img{
			margin-top: .5rem;
			width: 100%;
			margin-bottom: .5rem;
		}
	}
}
