.subComment {
	background-color: rgb(213, 223, 226);
	width: fit-content;
	padding: .1rem 1rem;
	border-radius: 1rem;
	display: flex;
	gap: .5rem;

	&--isMe {
		background-color: rgb(165, 253, 195);
	}


	.text {

		font-weight: 300;
		font-size: .8rem;
	}
}