body {
  overflow: scroll;
}

.votingArea {
  overflow: visible;
  overflow-x: auto;
  overflow-y: auto;

  &.horizontal {
    right: 0;
    display: flex;
    direction: ltr;
    margin-right: 3.5rem;
    padding: 1.5rem;
    height: 100svw;
    rotate: 90deg;
  }

  &.vertical {
    display: flex;
    direction: rtl;
    margin: 0 auto;
    height: 100%;
    position: relative;
    overflow-x: auto;
    padding: 0 20px;
    box-sizing: border-box;

    @media screen and (min-width: 1080px) {
      right: 12%;
    }

    @media screen and (max-width: 440px) {
      overflow-x: revert-layer;
      padding: 0;
    }

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.2);
      border-radius: 4px;
    }
  }
}
