.votingArea {
    position: relative;
    width: 100%;
}

.horizontal {
    @extend .votingArea;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: ltr;
    padding: 1.5rem 0;
    height: 100svw;
    rotate: 90deg;
}

.vertical {
    @extend .votingArea;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    direction: rtl;
    margin: 0 auto;
    height: 100%;
}