.simpleQuestion {

	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: var(--wrapper);
	width: 100%;
	margin: auto;
	overflow-y: auto;
	flex: 1;
	box-sizing: border-box;
}

.bottomNav {
	position: fixed;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	max-width: var(--wrapper);
	width: 90vw;
	box-sizing: border-box;

	@media screen and (max-width: 600px) {
		width: 100%;
		max-width: 100%;
	}
}

.summarizeWrapper {
	padding: 0 1rem;
	margin: 1rem 0;
}