.suggestionChat {
	width: 100%;
	max-width: var(--wrapper);
	position: relative;
	height: 100%;

	.evaluationPanel {
		margin: 1rem auto;
		width: fit-content;

	}

	.comments {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: .5rem;
		overflow-y: auto;
		padding-bottom: 150px;
	}

	.chatInput {
		position: fixed;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
	}
}