$memberbg: #f2f6ff;

.wrapper {
  background-color: $memberbg;
  width: 350px;
  border-bottom: 1px solid #bdcef4;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;

  .summaryRow {
    display: flex;
    align-items: center;
    height: 74px;
    font-size: 16px;
    gap: 1rem;
    background-color: $memberbg;
    border-radius: 5px;

    .checkbox {
      margin-left: 0.5rem;
      height: 24px;
      width: 24px;
      background-color: transparent;
    }

    .avatar {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
    }

    .userInfo {
      display: flex;
      flex-direction: column;
    }

    .displayName {
      width: 105px;
      height: 28px;
      margin-right: 5.2rem;
      font-size: 16px;
      color: #2a3346;
    }

    .requestDate {
      height: 21px;
      font-size: 14px;
      color: #7484a9;
    }
  }

  label {
    font-size: 14px;
    color: #7484a9;
    margin-right: 1.2rem;
  }
  .expandBtn {
    // background: none;
    // border: none;
    // width: 24px;
    // font-family: "Inter Tight", sans-serif;
    // font-weight: thin;
    // font-size: 35px;

    // color: #1b45a7;

    // cursor: pointer;

    // &:hover {
    //   color: #0f2968;
    // }
  }

  .detailsPanel {
    width: 100%;
    padding: 0.75rem 1rem;
    background-color: $memberbg;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    div {
      font-size: 14px;
    }

    .actions {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 3rem;
      margin-top: 0.5rem;

      .approveButton {
        flex: unset;
        width: 165px;
        height: 44px;
        background: #4fab9a;
        color: white;
        border: none;
        padding: 8px 12px;
        border-radius: 25px;
        font-size: 15px;
        cursor: pointer;

        box-shadow:
          0px 2px 4px 0px #26385438,
          0px 9px 6px 0px #2638541c,
          0px 16px 7px 0px #26385408;

        &:hover {
          background-color: #37756a;
        }
      }

      .rejectButton {
        flex: unset;
        width: 98px;
        height: 44px;
        background: transparent;
        color: var(--Text-Error, #f74a4d);
        border: 1px solid var(--Text-Error, #f74a4d);
        font-size: 15px;
        padding: 8px 12px;
        border-radius: 25px;
        font-weight: 800;
        cursor: pointer;

        &:hover {
          color: var(--Text-Error, #be3b3d);
          border: 1px solid var(--Text-Error, #be3b3d);
          background-color: rgb(228, 228, 228);
        }
      }
    }
  }
}
