.simpleEvaluation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text);

    .evaluationBox {
        display: flex;
        align-items: center;

        .thumbIcon {
            padding: 0.5rem;
        }
    }

    .totalEvaluations {
        direction: ltr;
    }
}
