// UserDataSetting.module.scss
.userDataSettings {
	padding: 1rem;
	max-width: 800px;
	margin: 0 auto;

	h3 {
		margin: 0 0 1.5rem 0;
		color: (--text-primary);
		font-size: 1.5rem;
		text-align: left;
		font-weight: 500;
	}

	.newQuestionForm {
		margin-bottom: 2rem;
		padding: 1.5rem;
		border-left: 6px solid var(--map-question);
		border-radius: 8px;
		background-color: var(--card-default);
		box-shadow: 0 2px 4px rgba(66, 79, 108, 0.1);

		h4 {
			margin: 0 0 1rem 0;
			color: #2c3e50;
			font-size: 1.2rem;
		}

		.questionInput {
			border: 1px solid var(--border-primary-subtle);
			border-radius: 0.5rem;
			padding: 1rem;
		}

		.formFields {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			margin-bottom: 1rem;
		}

		.selectField {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			border-bottom: 0.1px solid var(--border-primary-subtle);

			label {
				font-size: 1rem;
				color: #7484a9;
				font-weight: 500;
			}

			select {
				padding: 1rem;
				border-bottom: 0.1px solid var(--border-primary-subtle);
				font-size: 1rem;
				transition: border-color 0.2s;
				color: var(--text-subtitle);

				&:focus {
					outline: none;
					border-color: #007bff;
				}
			}

			.selectFieldWrapper {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}

		.options {
			position: absolute;
			top: 20rem;
			left: 10rem;
			right: 0;
			background-color: var(--white);
			border-radius: 0.5rem;
			box-shadow: 0 4px 12px rgba(66, 79, 108, 0.15);
			z-index: 100;
			width: 50%;
	}

		.option {
				display: flex;
				align-items: center;
				width: 100%;
				padding: 1.25rem 1rem;
				background: none;
				border: none;
				cursor: pointer;
				transition: background-color 0.2s;
				box-shadow: 0 2 4 0 rgba(66, 79, 108, 0.1);

		&:hover {
			background-color: #f4f7fa;
		}

		&:not(:first-child) {
			border-top: 1px solid var(--border-primary-subtle);
		}
	}

				.optionIcon{
					width: 1.5rem;
					height: 1.5rem;
					color: var(--icons-blue-dark);
					margin-right: 0.75rem;
					display: flex;
					align-items: center;
					justify-content: center;
				}

				.textLabel {
					color: var(--text-subtitle);
					font-size: 1rem;
				}
	}

	.existingQuestions {
		h4 {
			margin: 0 0 1rem 0;
			color: #2c3e50;
			font-size: 1.2rem;
		}

		.emptyState {
			color: #7484a9;
			font-style: italic;
			text-align: center;
			padding: 2rem;
			background-color: #f8faff;
			border-radius: 8px;
			border: 1px dashed #e0e6ff;
		}
	}
}