.loader {
	transform: rotateZ(45deg);
	border-radius: 50%;
	width: 48px;
	height: 48px;
	color: navy;
	position: relative;
}
.loader:before,
.loader:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	border-radius: 50%;
}
.loader:before {
	transform: rotateX(70deg);
	animation: 1s spinBlue linear infinite;
}
.loader:after {
	transform: rotateY(70deg);
	animation: 1s spinOrange linear infinite;
	animation-delay: 0.4s;
}
@keyframes rotate {
	0% {
		transform: translate(-50%, -50%) rotateZ(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotateZ(360deg);
	}
}
@keyframes rotateccw {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}
@keyframes spinBlue {
	0%,
	100% {
		box-shadow: 0.2em 0px 0 0px navy;
	}
	12% {
		box-shadow: 0.2em 0.2em 0 0 navy;
	}
	25% {
		box-shadow: 0 0.2em 0 0px navy;
	}
	37% {
		box-shadow: -0.2em 0.2em 0 0 navy;
	}
	50% {
		box-shadow: -0.2em 0 0 0 navy;
	}
	62% {
		box-shadow: -0.2em -0.2em 0 0 navy;
	}
	75% {
		box-shadow: 0px -0.2em 0 0 navy;
	}
	87% {
		box-shadow: 0.2em -0.2em 0 0 navy;
	}
}
@keyframes spinOrange {
	0%,
	100% {
		box-shadow: 0.2em 0px 0 0px #ff3d00;
	}
	12% {
		box-shadow: 0.2em 0.2em 0 0 #ff3d00;
	}
	25% {
		box-shadow: 0 0.2em 0 0px #ff3d00;
	}
	37% {
		box-shadow: -0.2em 0.2em 0 0 #ff3d00;
	}
	50% {
		box-shadow: -0.2em 0 0 0 #ff3d00;
	}
	62% {
		box-shadow: -0.2em -0.2em 0 0 #ff3d00;
	}
	75% {
		box-shadow: 0px -0.2em 0 0 #ff3d00;
	}
	87% {
		box-shadow: 0.2em -0.2em 0 0 #ff3d00;
	}
}