.tree-node {
	position: relative;

	&__content {
		padding-inline-start: calc(var(--tree-indent, 24px) * var(--depth, 0));
	}

	&__children {
		position: relative;
	}

	&__collapse {
		padding-inline-start: calc(var(--tree-indent, 24px) * (var(--depth, 0) + 1));
	}

	@media (max-width: 600px) {
		--tree-indent: 12px;
	}
}
