.headerMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 4rem;
  border-radius: 0 0 2rem;
}

.menuFooter {
  display: flex;
  height: 83px;
  cursor: pointer;
  pointer-events: auto;
  z-index: 1000;

  svg {
    color: white;
  }
}
