.statement{
	font-size: 1rem;
	font-weight: 500;
	color: var(--text-title);
}

.description {
	font-size: .9rem;
	font-weight: 300;
	color: var(--text-body);
}

.p {


	&--bold {
		font-weight: 400;
	}

	a {
		color: var(--header-question);
	}
}