// Special fonts temporarily disabled - using system fallbacks
// @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
// @import url('https://fonts.cdnfonts.com/css/overused-grotesk');

:root {
	--height-of-interaction-component: 2.5rem;
	--font-size: 22px;
}

body {
	background: #f2f6ff;
}

.splashPage {
	background: #f2f6ff;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.3s;
	justify-content: space-between;
	gap: var(--font-size);

	.version {
		margin-top: 3vh;
		margin-bottom: 3vh;
		color: var(--text-blue);
		font-size: var(--font-size);
		font-weight: 200;
	}
}

.mainLogo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: fit-content;
	max-width: 70vw;
	margin-top: var(--font-size);

	svg {
		display: block;
		width: 100%;
		height: auto;
		overflow: hidden;
	}

	&__title {
		font-size: 6vh;
		font-weight: 400;
		font-style: normal;
		display: inline-block;
		text-align: center;
		white-space: nowrap;
	}

	&__slogan {
		font-family: system-ui, -apple-system, 'Segoe UI', sans-serif; // Fallback until Overused Grotesk is local
		display: inline-block;
		text-align: center;
		white-space: nowrap;
		overflow: hidden;
		font-size: var(--font-size);
	}
}

.freeDiIcon {
	width: 60%;

	svg {
		width: 100%;
	}
}

.interactionComponents {
	width: 80vw;
	max-width: 800px;
	display: flex;
	flex-direction: column;
	gap: var(--font-size);
}

.anonymous {
	background-color: var(--btn-primary);
}

.anonymous.ltr {
	margin-right: 0;
}

.anonymous.rtl {
	margin-left: 0;
}

.StartPageImage {
	position: fixed;
	bottom: 0;
	height: 35vh;
}

.ddi {
	position: fixed;
	bottom: 2vh;
	font-size: var(--font-size);
}

.startBtn {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	height: var(--height-of-interaction-component);
	border-radius: 3rem;
	gap: 1rem;
	font-size: 1rem;
	user-select: none;
	min-width: 30ch;
	max-width: 90%;
	width: 22rem;
	z-index: 1;
	color: white;
}

@media only screen and (max-width: 600px) {
	:root {
		--font-size: 17px;
	}
	.interactionComponents {
		width: 100vw;
	}

	.anonymous.ltr {
		border-radius: 0rem 3rem 3rem 0rem;
	}

	.anonymous.rtl {
		border-radius: 3rem 0rem 0rem 3rem;
	}

	// 	// .language {
	// 	// 	margin-top: 18rem;
	// 	// }

	.StartPageImage {
		margin-left: 6vh;
	}

	// 	.mainLogo__Free,
	// 	.mainLogo__Di {
	// 		font-size: 3rem;
	// 	}

	// 	.freeDiIcon {
	// 		height: 4.3rem;
	// 		width: 5.1rem;
	// 		margin-top: 1.5rem;
	// 		display: flex;
	// 		align-items: center;
	// 		justify-content: center;
	// 	}

	// 	.mainLogo__slogan {
	// 		font-size: 1.2rem;
	// 	}
}

@media only screen and (max-height: 750px) {
	// 	.anonymous.ltr,
	// 	.anonymous.rtl {
	// 		position: absolute;
	// 		top: 19rem;
	// 	}

	// 	// .language {
	// 	// 	margin-top: 15rem;
	// 	// }

	// 	.StratPageImage {
	// 		width: 18rem;
	// 		height: 12rem;
	// 		margin-left: 2rem;
	// 	}
}
