@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
@import url('https://fonts.cdnfonts.com/css/overused-grotesk');

:root {
	--height-of-interaction-component: 2.5rem;
	--font-size: 22px;
}

body {
	background: #f2f6ff;
}

.splashPage {
	background: #f2f6ff;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.3s;
	justify-content: space-between;
	gap: var(--font-size);

	button {
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		height: var(--height-of-interaction-component);
		border-radius: 3rem;
		gap: 1rem;
		font-size: 1rem;
		user-select: none;
		min-width: 30ch;
		max-width: 90%;
		width: 22rem;
		z-index: 1;
		color: white;
	}

	.version {
		margin-top: 3vh;
		color: #5d8fe1;
		font-size: var(--font-size);
		font-weight: 200;
	}

	&__freediIcon {
		margin-top: var(--font-size);
	}

	// &__subTitle {
	// 	font-size: 3rem;
	// 	opacity: 0.7;
	// }

	// &__loginButton {
	// 	background: white !important;
	// 	color: red !important;
	// 	border-radius: 5px;
	// }
}

// .number {
// 	color: #fadf57;
// 	position: relative;
// 	top: 0.8rem;
// }

// .h1 {
// 	font-size: 4.55rem;
// 	color: #fff;
// }

// .h2 {
// 	color: #fff;
// 	font-size: 1rem;
// 	opacity: 0.7;
// }

// .mainLogo {
// 	align-items: center;
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// 	width: fit-content;
// 	gap: var(--font-size);

// 	&__title {
// 		font-size: 5vh;
// 		font-weight: 400;
// 		font-style: normal;
// 		width: 100%;
// 		height: fit-content;
// 	}

// 	&__Free {
// 		color: #5d8fe1;
// 		font-family: 'Bruno Ace', sans-serif;
// 	}

// 	&__Di {
// 		color: #5bbba9;
// 		font-family: 'Bruno Ace', sans-serif;
// 	}

// 	&__slogan {
// 		// display: flex;
// 		// align-items: center;
// 		// justify-content: center;
// 		font-family: 'Overused Grotesk', sans-serif;
// 		font-size: clamp(14px, 2.5vw, 54px);
// 		width: 100%;
// 		text-align: center;
// 		font-stretch: expanded;
// 		white-space: nowrap;
// 	}
// }

.interactionComponents {
	width: 80vw;
	max-width: 800px;
	display: flex;
	flex-direction: column;
	gap: var(--font-size);
}

.language {
	border-radius: 3rem;
	color: #668fd1;
	height: var(--height-of-interaction-component);
	text-align: center;
	font-size: 1rem;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.language option:nth-child(even) {
	background-color: white;
}

.anonymous {
	background-color: #739ee4;
}

.anonymous.ltr {
	margin-right: 0;
}

.anonymous.rtl {
	margin-left: 0;
}

.StartPageImage {
	position: fixed;
	bottom: 0;
	height: 35vh;
}

.ddi {
	position: fixed;
	bottom: 2vh;
	font-size: var(--font-size);
}

@media only screen and (max-width: 600px) {
	:root {
		--font-size: 16px;
	}
	.interactionComponents {
		width: 100vw;
	}

	.anonymous.ltr {
		border-radius: 0rem 3rem 3rem 0rem;
	}

	.anonymous.rtl {
		border-radius: 3rem 0rem 0rem 3rem;
	}

	// 	// .language {
	// 	// 	margin-top: 18rem;
	// 	// }

	.StartPageImage {
		margin-left: 6vh;
	}

	// 	.mainLogo__Free,
	// 	.mainLogo__Di {
	// 		font-size: 3rem;
	// 	}

	// 	.freeDiIcon {
	// 		height: 4.3rem;
	// 		width: 5.1rem;
	// 		margin-top: 1.5rem;
	// 		display: flex;
	// 		align-items: center;
	// 		justify-content: center;
	// 	}

	// 	.mainLogo__slogan {
	// 		font-size: 1.2rem;
	// 	}
}

@media only screen and (max-height: 750px) {
	// 	.anonymous.ltr,
	// 	.anonymous.rtl {
	// 		position: absolute;
	// 		top: 19rem;
	// 	}

	// 	// .language {
	// 	// 	margin-top: 15rem;
	// 	// }

	// 	.StratPageImage {
	// 		width: 18rem;
	// 		height: 12rem;
	// 		margin-left: 2rem;
	// 	}
}

// @media only screen and (max-height: 600px) {
// 	.anonymous.ltr,
// 	.anonymous.rtl {
// 		position: absolute;
// 		top: 19rem;
// 	}

// 	.language {
// 		margin-top: 15rem;
// 	}

// 	.StratPageImage {
// 		width: 13rem;
// 		height: 9rem;
// 		margin-left: 2rem;
// 	}
// }
