.notificationBtn {
	position: relative;
	color: var(--text-negative);
}

.icon {
	position: absolute;
	top: -0.5rem;
	right: -0.5rem;
}

.redCircle {
	position: absolute;
	background-color: var(--icons-blue-dark);
	border-radius: 50%;
	width: 1.2rem;
	height: 1.2rem;
	text-align: center;
}