.triangle {
  position: absolute;
  top: 20vh;
  left: 35vw;
  width: 35vw;
  height: 70vh;
  border: 2px solid var(--map-question);
  clip-path: polygon(0 0, 0 100%, 100% 100%);

  @media (max-width: 1700px) {
    top: 20vh;
    left: 35vw;
    width: 45vw;
    height: 70vh;
  }

  @media (max-width: 1080px) {
    top: 20vh;
    left: 30vw;
    width: 65vw;
    height: 70vh;
  }

  @media (max-width: 690px) {
    top: 30vh;
    left: 11vw;
    width: 82vw;
    height: 50vh;
  }

  @media (max-height: 600px) {
    top: 37vh;
    left: 35vw;
    max-width: 25vw;
    height: 48vh;
  }

  &--invisible {
    position: absolute;
    background-color: transparent;
    border: none;
    clip-path: none;
  }

  .xAxis {
    position: absolute;
    bottom: -2rem;
    left: calc(100% - 5.7rem);
    @media (max-height: 600px) {
      left: calc(100% - 4.5rem);
      bottom: -1.8rem;
      font-size: 15px;
    }
  }

  .yAxis {
    position: absolute;
    top: 1.8rem;
    left: -3.7rem;
    transform: rotate(-90deg);
    @media (max-height: 600px) {
      left: -3.2rem;
      font-size: 15px;
    }
  }

  .conflicts {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: rotate(45deg);
    @media (max-height: 600px) {
      font-size: 15px;
    }
  }

  .abstention {
    position: absolute;
    bottom: -2rem;
    left: -0.1rem;
    @media (max-height: 600px) {
      bottom: -1.8rem;
      left: -0.2rem;
      font-size: 15px;
    }
  }

  &__loading {
    padding: 2rem;
    text-align: center;
  }

  .totalEvaluators {
    position: absolute;
    top: -2.5rem;
    right: 0;
    font-size: 0.9rem;
    color: var(--text-body);
    @media (max-height: 600px) {
      top: -2rem;
      font-size: 0.8rem;
    }
  }
}
