.notificationSubscriptionButton {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 16px;
	border-radius: 20px;
	border: none;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.2s ease;
	gap: 8px;
	color: white;



	&:disabled {
		background-color: #f5f5f554;
		color: #aaa;
		cursor: not-allowed;
		opacity: 0.8;
	}

	.icon {
		font-size: 16px;
	}

	.loadingIndicator {
		width: 16px;
		height: 16px;
		border: 2px solid transparent;
		border-top-color: currentColor;
		border-radius: 50%;
		animation: spin 0.8s linear infinite;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}