.footer {
	position: fixed;
	bottom: 0;
	width: var(--wrapper);
	height: 3rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: var(--statementBackground);
	gap: .5rem;

	button {

		flex: 1;
		height: 100%;
		border-radius: 10px;

	}

	.button {
		flex: 1;
		height: 100%;
		border-radius: 10px;
		transition: all 0.2s ease-in-out;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 0.2rem;

		.activeText {
			font-weight: 600;
		}

		.buttonImage {
			width: 6.5rem;
			height: 1.5rem;
			padding: .2rem;

			&Active {
				background-color: #8cff6f6b;
				color: black;
				border-radius: 2rem;

			}


		}




	}


}

.addStatementButton {
	background: #5899e0;
	width: 3.125rem;
	height: 3.125rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	border-radius: 50%;
	box-shadow: 0px 10px 30px 0px rgba(52, 103, 157, 0.108);
	user-select: none;
	cursor: pointer;
	z-index: 200;

	svg {
		color: white;
		width: 26px;
		height: 25px;
	}

	&:active {
		box-shadow: 0px 10px 50px 0px #4f5478b2;
	}
}