.footer {
	max-width: var(--wrapper);
	width: 100%;
	height: 3rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: var(--statementBackground);
	gap: .5rem;
	position: fixed;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);

	button {

		flex: 1;
		height: 100%;

	}

	.button {
		position: relative;
		cursor: pointer;
		height: 100%;
		width: 2rem;
		border-radius: 4rem;
		transition: all 0.2s ease-in-out;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 0.2rem;

		.activeText {
			font-weight: 600;
		}

		.buttonIcon {
			position: relative;
			width: 6.5rem;
			height: 1.5rem;
			transform: translateY(0.2rem);
			




		}

		&Active {
			background-color: var(--member-awaiting);
			color: black;
			border-radius: 2rem;

		}


		&:hover {
			background-color: var(--member-awaiting);
			color: black;
			transition: all 0.2s ease-in-out;
		}

	}


}

.addStatementButton {
	background: var(--btn-primary);
	flex: 1;
	margin: .1rem 0;
	height: 3.125rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	border-radius: 4rem;
	box-shadow: 0px 10px 30px 0px rgba(52, 103, 157, 0.108);
	user-select: none;
	cursor:pointer;
	z-index: 200;

	svg {
		color: white;
		width: 26px;
		height: 25px;
	}

	&:active {
		box-shadow: 0px 10px 50px 0px #4f5478b2;
	}
}

.fab {
	position: fixed;
	bottom: 1.5rem;
	right: 1.5rem;
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	background: var(--btn-primary);
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 4px 12px rgba(52, 103, 157, 0.3);
	cursor: pointer;
	z-index: 200;

	svg {
		color: white;
		width: 26px;
		height: 25px;
	}

	&:active {
		box-shadow: 0px 4px 20px rgba(79, 84, 120, 0.5);
	}
}

.redCircle {
	position: absolute;
	left: 35%;
	background-color: var(--icons-blue-dark);
	color: white;
	border-radius: 50%;
	width: 1.2rem;
	height: 1.2rem;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;

	@media screen and (max-width: 768px) {
		left: 20%;
		top: 5px;

	}
}