.addStatementModal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.sectionTitle {
	padding: 0.75rem 1rem 0.25rem;
	margin: 0;
	font-size: 1.1rem;
	color: var(--text-secondary);
}