.chat {

	position: relative;

	display: flex;
	flex-direction: column;


}

.wrapper {
	overflow-y: auto;
	flex: 1;
	padding-bottom: 30px;
}

.input {
	width: 100%;
	position: sticky;
	bottom: 0;
	flex-shrink: 0;
}