.userAvatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
    font-size: 0.7rem;
    flex-shrink: 0;
}
