$bottomCard: 1.5rem;

.card {
	display: flex;
	flex-direction: column;
	gap: var(--padding);
	text-align: start;
	flex: 1;
	margin-bottom: $bottomCard;
	margin-inline: 1rem;

	.title {
		position: relative;
		border-inline-start: 4px solid #66afe9;
		display: flex;
		justify-content: space-between;
		background-color: white;
		width: 100%;

		.notification {
			position: absolute;
			top: -10px;
			left: -10px;
		}

		svg {
			color: #1b45a7;
			cursor: pointer;
			width: 1.8rem;
			height: 1.8rem;
		}
	}

	&__description {
		color: var(--text-caption);
		font-size: 0.706rem;
		/* 12px */
		margin-bottom: 0.882rem;
		/* 15px */
	}

	a {
		width: fit-content;
		margin: auto;
	}

	.suggestions {
		background-color: #e8edf5;
		border-inline-start: 4px solid #76c0b3;

		&:nth-child(even) {
			background-color: transparent;
		}

		.suggestionTitle {
			font-weight: bold;
			margin-inline-start: 0.2rem;
		}
	}

	.previewContent {
		color: #2a3346;
		font-size: 14px;
		margin-inline-start: 1.5rem;
		display: flex;
		flex-direction: column;
		gap: var(--padding);
		cursor: default;
	}

	.item {
		border-start-start-radius: 0.4rem;
		border-end-start-radius: 0.4rem;
		padding: 1rem;
	}
}
