.headerMC {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--header-question);

	&__wrapper {
		width: 100vw;
		justify-content: space-between;
		padding: var(--padding);
		gap: var(--padding);
	}

	.icon {
		display: flex;
		align-items: center;
		color: var(--question-text);
		text-decoration: none;

		&--rtl {
			transform: rotate(180deg);
		}

		&:hover {
			opacity: 0.8;
		}
		svg {
			// this is crucial for rendering of home, due to the svg being relativly big.
			width: 24px;
			height: 24px;
		}
	}

	.title-container {
		flex: 1;
		display: flex;
		justify-content: flex-start;

		.title {
			font-size: 1.5rem;
			margin: 0;
			color: var(--question-text);
		}
	}

	.rightIcons {
		display: flex;
		gap: 1rem;
		align-items: center;
	}

	@media (max-width: 768px) {
		.headerMC {
			flex-direction: column;
			align-items: center;
		}

		.title {
			margin: 0.5rem 0;
		}
	}
}
