.similarStatements {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	align-items: center;

	.statement {
		background-color: rgb(232, 255, 255);
		font-size: 1.2rem;
		padding: 1rem 2rem;
		width: fit-content;
		max-width: 100%;
		border-radius: 5px;
	}
}

.instructions {
	font-size: 1.1rem;
	color: var(--header-question);
	margin: 1rem 0;
	text-align: center;
}