.triangle {
  position: absolute;
  top: 20vh;
  left: 35vw;
  width: 35vw;
  height: 70vh;
  border: 2px solid var(--map-question);
  clip-path: polygon(0 0, 0 100%, 100% 100%);

  @media (max-width: 1700px) {
    top: 20vh;
    left: 33vw;
    width: 45vw;
    height: 70vh;
  }

  @media (max-width: 1080px) {
    top: 20vh;
    left: 23vw;
    width: 65vw;
    height: 70vh;
  }

  @media (max-width: 690px) {
    top: 30vh;
    left: 11vw;
    width: 82vw;
    height: 50vh;
  }

  &--invisible {
    position: absolute;
    background-color: transparent;
    border: none;
    clip-path: none;
  }

  .xAxis {
    position: absolute;
    bottom: -2rem;
    left: calc(100% - 5.7rem);
  }

  .yAxis {
    position: absolute;
    top: 1.8rem;
    left: -3.7rem;
    transform: rotate(-90deg);
  }

  .conflicts {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: rotate(45deg);
  }

  .abstention {
    position: absolute;
    bottom: -2rem;
    left: -0.1rem;
  }
}
