.leave-feedback {
	a:hover {
		text-decoration: underline;
	}
}

.input-line {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 1rem 0;
	gap: 1rem;

	svg {
		color: var(--icons-blue);
	}
}
