/* Open Sans */
@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.woff2') format('woff2');
    font-weight: 300 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.woff2') format('woff2');
    font-weight: 300 800;
    font-style: italic;
    font-display: swap;
}

/* Roboto */
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto/Roboto-VariableFont_wdth,wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto/Roboto-Italic-VariableFont_wdth,wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}
