.container {
	background-color: var(--card-default);
	max-height: fit-content;
	padding: 0;
	margin-bottom: 0;
}

.questionSection {
	margin-bottom: 1rem;
}

.questionTitle {
	font-size: 1.125rem;
	font-weight: 500;
	color: var(--text-title);
	margin: 0.75rem;
	margin-top: 0;

	display: flex;
	margin-bottom: 1rem;
}
.selectedInput {
	color: brown;
}
.errorMessage {
	margin-top: 0.5rem;
	margin-left: 1rem;
	font-size: 0.8rem;
}
.required {
	color: var(--text-error);
	display: block;
	margin-left: 0.25rem;
}

.inputContainer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.textInput {
	width: 100%;
	padding: 0.5rem 0.75rem;
	border: 1px solid #d1d5db;
	border-radius: 0.375rem;
	font-size: 0.875rem;
	background-color: var(--input-active);

	&:focus {
		outline: none;
		border-color: var(--btn-primary-default);
		box-shadow: 0 0 0 2px rgba(95, 136, 229, 0.2);
	}

	&::placeholder {
		color: var(--text-caption);
	}

	&:required {
		border-color: #d1d5db;
	}
}

.textareaInput {
	@extend .textInput;
	resize: vertical;
	min-height: 4rem;
}

.optionsContainer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.optionLabel {
	display: flex;
	align-items: center;
	margin-left: 0.75rem;
	gap: 0.75rem;
	cursor: pointer;

	&:hover {
		opacity: 0.8;
	}
}

.radioInput,
.checkboxInput {
	width: 1rem;
	height: 1rem;
	accent-color: var(--btn-primary-default);
	border-color: var(--btn-primary-default);
	&:focus {
		box-shadow: 0 0 0 2px rgba(95, 136, 229, 0.2);
	}

	&:checked {
		background-color: var(--btn-primary-default);
		border-color: var(--btn-primary-default);
	}
}

.checkboxInput {
	border-radius: 0.25rem;
	margin: 1rem;
}

.optionText {
	font-size: 1rem;
	color: var(--text-disabled);
}
.optionText.selectedInput {
	color: var(--text-title);
}
