.statementChatMore {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: rgba(129, 143, 173, 1);
	opacity: 0.7;
	transition: opacity 0.2s ease;
	
	&:hover {
		opacity: 1;
	}


	.text {
		// display: none;
		font-size: 0.75rem;
		max-height: 2rem;
		overflow: hidden;
		text-overflow: ellipsis;

	}

	.icon {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 20px;
		height: 20px;
		color: var(--question-header);

		@media screen and (max-width: 500px) {
			width: 18px;
			height: 18px;
		}
	}

	.notify {
		background-image: url(/src/assets/images/Notify.png);
		margin: -4px;
		width: 30px;
		height: 30px;
	}
}