.footerMC {
	position: sticky;
	bottom: 70px;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin-top: 1rem;
	padding-bottom: 2rem;
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0) 0%,
		var(--bg-screen) 20%
	);

	z-index: 100;

	@media (max-width: 768px) {
		padding: 0.75rem;
		position: fixed;
		bottom: 20px;
	}

	@media (max-width: 630px) {
		justify-content: space-between;
	}
}

.btn {
	padding: 0 3rem;
}
