.board {
	width: 90vw;
	height: 70vh;
	position: relative;
	margin: 3rem auto;
	clip-path: ellipse(50% 100% at 50% 100%);
	background: #57c760;
	background: linear-gradient(0deg, rgba(87, 199, 96, 1) 0%, rgba(87, 199, 133, 1) 11%, rgba(237, 83, 86, 1) 86%, rgba(255, 0, 4, 1) 99%);

	.pointDiv {
		position: absolute;
		transition: all 0.3s ease-in-out;
		width: 30px;
		height: 30px;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.point {
		width: 30px;
		height: 30px;
		background-color: red;
		border-radius: 50%;
		cursor: pointer;
	}

	.axisGroup {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		transition: opacity 1ms ease-in-out, all 1200ms ease-in-out;

		.axisGroupPoint {
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background-color: blue;
			position: absolute;
			transform: translate(-50%, -50%);
			top: 50%;
			left: 50%;
			border: 1px solid black;
		}
	}
}