$border: 3rem;

.card {
    margin-right: 20px;
    background-color: var(--bg-selected);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px;
    box-sizing: border-box;
    min-width: 200px;
    color: var(--text-title);
    border-radius: calc($border / 2) 4px;
    border-left: var(--btn-primary) 3px solid;
    direction: ltr;

    &.banned {
        display: flex;
        justify-content: space-between;
        width: fit-content;
        border: none;
        height: 48px;
        border-radius: 50px;
        color: var(--white);
        background-color: var(--disagree);
        margin: 2px 5px 2px 0;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        .card__info__img {
            height: 48px;
            width: 48px;
            border: none;
        }

        .bannedImg {
            background-color: var(--white);
            color: var(--disagree);
        }
    }

    &__info {
        display: flex;

        &__img {
            position: relative;
            border: var(--btn-primary) 3px solid;
            left: -3px;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background-color: var(--card-default);
            color: var(--text-title);
            display: flex;
            justify-content: center;
            align-items: center;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &__name {
            font-size: 1.1rem;
            font-weight: 500;
            padding: .8rem;
        }
    }

    &__membership {
        display: flex;
        justify-content: space-between;
        padding: 0.6rem;
        align-items: center;

        button {
            color: var(--text-title);
        }

        &--member {
            border-radius: 3rem;
            padding: .5rem;
        }

        &--admin {
            border-radius: 100%;
            padding: .3rem;

            &.admin {
                background-color: var(--btn-primary);
                color: var(--btn-primary-text);
                padding-left: .6rem;
            }
        }

        &__svg {
            padding: .5rem;
            color: var(--crimson);
        }

        svg {
            font-size: 1.7rem;
            height: 2rem;
            width: 2rem;
            margin-right: .5rem;
            cursor: pointer;
            user-select: none;
        }
    }

    .unBlockImg {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        width: 46px;
        height: 46px;
        cursor: pointer;
    }
}