.thumb {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 27px;
        height: 27px;
    }
    &.inactive {
        opacity: 0.4;
    }
    &.disabled {
        opacity: 0.6;
        cursor: not-allowed;
        pointer-events: none;
        filter: grayscale(30%);
    }
}
