name: Pull Request Validation

on:
    pull_request:
        branches:
            - dev

jobs:
    basic-checks:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [20.x]

        steps:
            - uses: actions/checkout@v3
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: 'npm'

            - name: Install root dependencies
              run: npm install

            - name: Install functions dependencies
              working-directory: ./functions
              run: npm install

            - name: Run ESLint
              run: npm run lint

            - name: Run TypeScript type checking
              run: npm run typecheck

            - name: Build the project
              run: npm run build

            - name: Build Functions
              working-directory: ./functions
              run: npm run build
