$headerHight: 4.2rem;

.nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  direction: ltr;
  border-radius: 0 0 calc($headerHight / 2) 0;
  box-shadow: 0px 3px 9px #00000026;
  height: 4.2rem;

  .wrapper {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: var(--wrapper);
  }

  button {
    flex: 1;
    padding: 0.6rem 1rem;
    background-color: transparent;

    svg {
      height: 1.7rem;
      width: 1.7rem;
    }
  }
  .back {
    transform: rotate(180deg);
  }

  .views {
    position: relative;

    &__dropdown {
      position: absolute;
      background-color: white;
      box-shadow: 0px 3px 9px #00000026;
      left: 50%;
      top: 3rem;
    }
  }
}
.menuFooter {
  display: flex;
  height: 83px;
  background-color: var(--group);
  cursor: pointer;
  pointer-events: auto;
  z-index: 1000;

  svg {
    color: white;
  }
}
