.accessibility {
	display: flex;
	position: fixed;
	z-index: 1000;
	top: 30vh;
	left: 3rem;
	transform: translateX(-92%) scale(0.7);
	transform-origin: top;
	border-radius: 0px 100px 100px 0px;
	transition: transform 0.5s ease-in-out;
	direction: rtl;

	&.is-open {
		transform: translateX(-20%);
	}

	.accessibility-panel {
		display: flex;
		width: 11rem;
		flex-direction: column;
		background-color: white;
		box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.44);

		&__fonts {
			height: 3.1rem;
			display: flex;
			justify-content: space-around;
			background-color: var(--btn-primary);
			color: white;
			box-shadow: 0 0 0 0.2rem var(--btn-primary);
		}

		&__contrast {
			display: flex;
			flex-direction: column;

			button {
				padding: 0.5rem 1rem;
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 0.5rem;
				text-wrap: nowrap;
				font-size: inherit;


			}
		}

		> * {
			display: flex;
			align-items: center;
			user-select: none;
		}

		.change-font-size-button {
			background-color: var(--white);
			width: 2.5rem;
			height: 2.2rem;
			border-radius: 0.1rem;
			cursor: pointer;
			user-select: none;
			color: var(--btn-accessibility-icons);
			font-size: 1.5rem;
		}
	}

	.accessibility-button {
		height: 3.1rem;
		width: 3.3rem;
		color: white;
		padding: 0.2rem;
		border: solid 0.2rem var(--white);
		border-left: none;
		border-radius: 0px 10rem 10rem 0px;
		box-shadow:
			0 0 0 0.2rem var(--btn-primary),
			4px 4px 12px rgba(0, 0, 0, 0.44);
		clip-path: inset(-1rem -1rem -1rem 0.1rem);
		z-index: 1001;
		background-color: var(--btn-primary);
		display: flex;
		justify-content: center;
		align-items: center;
		user-select: none;
		cursor: pointer;

		svg {
			width: 1.7rem;
			height: 1.7rem;
			margin-inline-start: 1ch;
		}
	}
}

.light-contrast {
	background-color: var(--btn-accessibility-light-contrast);
	color: var(--btn-accessibility-light-contrast-text);
	svg {
		color: var(--btn-accessibility-light-contrast-icons);
	}
}

.high-contrast {

	svg {
		color: var(--btn-accessibility-icons);
	}
}